
body{
    
    margin: 0px;
    
    
}

button:focus {outline: 0}

@media only screen and (min-width: 600px)
{
    /* start of the left hand directory */
    .directory {
        position: fixed;
        height: 100%;
        width: 25%;
        top: 0px;
        left: 0px;
        background-color: black;
        overflow: auto;
        -ms-overflow-style: none;
  
    }
    
    .directory::-webkit-scrollbar {
        
        
        display: none;
        
    }
    
    .ID_picture {
        height: 20%;
        margin-top: 1.5vw;
        background-color: black;
        text-align: center;
    }
    
    .name_holder{
        margin: 1.5vw;
        padding-left: .9vw;
        text-align: left;
        font-family: sans-serif;
        font-size: 3.0vw;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 2px 4px #000000;
        border-bottom-style: solid;
        border-bottom-color: gold;
    }
    
    #jack_pharies {
         
        margin: 0px;
        text-align: center;
        
        
    }
    #portfolio_text {
        margin: .5vw;
        padding-left: .8vw;
        font-size: 1.3vw; 
        text-align: center;
        
    }
    
    .pic {

        height: 100%;
        width: auto;
        align-self: center;
        border-radius: 150px;

    }
    
    
    
    .link_holder {
        margin: 2.6vw;
        background-color: black;
        
        text-align: center;
        
        
        
        
    }
    .button_list {
        padding: 0px;
        list-style-type: none;
        text-align: left;
        
        
        
    }
    
    .button_list button{
        
        cursor: pointer; 
        text-align: left;
        margin: .7vw;
        border-color: black;
        font-size: 2vw;
        color: whitesmoke;
        background-color: black
        
        
    }
    
    .button_list button:hover{

        color: gold;

    }
    
    .button_list button:active{
        
        font-size: 1.95vw;
        color: gold;
 
    }
    
    .other_site_holder {
        
        color: white;
        
        background-color: black;
        margin: 3vw;
        margin-top: 5vw;
        padding-left: 2vw;
        
        
        
        
    }
    .other_site_holder img{
        
        width: 2vw;
        height: 2vw;
        float: left;
        padding-right: 5px;
        
        
    }
    .other_site_holder p{
        
       
        font-size: 1.5vw;
        
        
    }
    

    .other_site_holder a {
        color: whitesmoke;
        text-decoration: none;

        
    }
    
    a:active {
        
        color: gold;
    }

  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* start of the window css*/
    .window {
        position: fixed;
        margin-left: 25%;
        width: calc( 100% - 25%);
        height: 100%;
        top: 0px;
        right: 0px;
        overflow: scroll;
        left: 0px;
        background-image: url(images/window_background.svg);
        background-size: cover;
        background-repeat: no-repeat;
        -ms-overflow-style: none;
        
        
        
    }
    
    .window::-webkit-scrollbar {
        
        
        display: none;
        
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* start of home screen*/
    #Home {
        visibility: visible;
    }
    
    
    .info_bar {
        background-color: black;
        opacity: .93;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 2vw;
        height: 30%;
        color: white;
        overflow: hidden;
    }
    .bar_title {
        margin: .5vw;
        font-size: 3vw;
    }
    .bar_summary {
        font-size: 1.5vw;
        margin: .5px;
        margin-bottom: 1vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    .bar_button {
        margin-left: 3vw;
        background-color: black;
        border-color: darkgoldenrod;
        font-style: italic;
        color: gold;
        font-size: 2vw;
        height: 3vw;
        backface-visibility: hidden;
        display: block;
        
    }
    
    .bar_button:active {
        
        font-size: 1.95vw;
        
    }
    #about_bar {
        height: auto;
    }
    
    #port_bar {
        height: auto;
        
        
    }
    .port_subsection {
        
        margin-right: 1vw;
        margin-left: 1vw;
        width: 28%;
        height: 28vw;
        margin-top: 1vw;
        text-align: center;
        border-style: solid;
        border-radius: 50px;
        border-color: gold;
        
        
        
    }
    
    #Projects {
       
       float: left;
    }
    #Classes {
       
        float: left;
    }
    
    #Experience {
       float: left;
        
    }
    
    .port_pic {
        
        height: 10vw;
        width: 70%;
        background-color: black;
        border-style: none;
        font-size: 0px;
        color: whitesmoke;
        font-weight: 700;
        outline: none;
        padding: 0px;
        text-shadow: 2px 2px 4px #000000;
        border-radius: 50px;
        
 
    }
    #port_pic_proj {
        background-image: url(images/port_pic_code.jpg);
        background-size: cover;
    }
    #port_pic_class {
        background-image: url(images/port_pic_class.jpg);
        background-size: cover;
    }
    #port_pic_exp {
        background-image: url(images/port_pic_exp.jpg);
        
        background-size: cover;
    }
    
    
    .port_pic:hover {
        border-color: gold;
        border-style: solid;
        
        font-size: 2.3vw;
    }
    #port_pic_proj:hover {
        background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(images/port_pic_code.jpg);
    }
    #port_pic_class:hover {
        background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(images/port_pic_class.jpg);
    }
    #port_pic_exp:hover {
        background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url(images/port_pic_exp.jpg);
    }
    
    
    .port_pic:active {
        border-color: gold;
        border-style: solid;
        font-size: 2.2vw;
    }
    .port_pic:visited {
        border-color: gold;
        border-style: solid;
        font-size: 2.3vw;
    }
    
    .port_shortsum {
        margin: 0px;
        font-size: 1.5vw;
        padding: 2vw;
        
    }
    
    /*start of about*/
    #About {
        background-color: aqua;
        visibility: hidden;
    }
    
    /*start of portfolio*/
    #Portfolio {
        background-color: green;
        visibility: hidden;
    }
    
    /*start of resume*/
    #Resume {
        background-color: yellow;
        visibility: hidden;
    }
    
    
    /* start of resources */
    #Resources {
        background-color: brown;
        visibility: hidden;
    }
    
    
    
    
    
    
    
}