
body{
    
    margin: 0px;
    
    
}



@media only screen and (min-width: 600px)
{
    
    .directory {
        position: fixed;
        height: 100%;
        width: 25%;
        top: 0px;
        left: 0px;
        background-color: black;
        overflow: auto;
        -ms-overflow-style: none;
        
        
        
        
    }
    .directory::-webkit-scrollbar {
        
        
        display: none;
        
    }
    
    .ID_picture {
        
        
        height: 20%;
        margin-top: 1.5vw;
        background-color: black;
        text-align: center;
        

    }
    
    .name_holder{
        margin: 1.5vw;
        padding-left: .9vw;
        text-align: left;
        font-family: sans-serif;
        font-size: 3.3vw;
        color: whitesmoke;
        background-color: black;
        text-shadow: 2px 2px 4px #000000;
        border-bottom-style: solid;
        border-bottom-color: gold;
    }
    
    #jack_pharies {
         
        margin: 0px;
        
        
    }
    #portfolio_text {
        margin: .5vw;
        padding-left: .8vw;
        font-size: 1.5vw; 
        
    }
    
    .pic {

        height: 100%;
        width: auto;
        align-self: center;
        border-radius: 150px;

    }
    
    
    
    .link_holder {
        margin: 2.6vw;
        background-color: black;
        
        text-align: center;
        
        
        
        
    }
    .button_list {
        padding: 0px;
        list-style-type: none;
        text-align: left;
        
        
        
    }
    
    .button_list button{
        
        cursor: pointer; 
        text-align: left;
        margin: .7vw;
        border-color: black;
        font-size: 2vw;
        color: whitesmoke;
        background-color: black
        
        
    }
    .other_site_holder {
        
        color: white;
        
        background-color: black;
        margin: 3vw;
        margin-top: 5vw;
        padding-left: 2vw;
        
        
        
        
    }
    .other_site_holder img{
        
        width: 2vw;
        height: 2vw;
        float: left;
        padding-right: 5px;
        
        
    }
    .other_site_holder p{
        
       
        font-size: 1.5vw;
        
        
    }
    
    

    
    
    .other_site_holder a {
        color: whitesmoke;
        text-decoration: none;
        
        
        
        
        
    }
    
    a:active {
        
        color: gold;
    }

    
    
    
    #main {
        position: fixed;
        margin-left: 25%;
        width: calc( 100% - 25%);
        height: 100%;
        top: 0px;
        right: 0px;
        left: 0px;
        background-color: red;
        overflow:scroll;
        
        
        
    }
    
    
    
    
    
    
    
}